<header>
  <div class="navbar-container">
    <div class="logo-app col-md-6" (click)="redirectToContacts()">
      <span>Contact Manager</span>
    </div>
  </div>
</header>

<div class="card">
  <div class="main-container col-md-8 col-md-offset-2">
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
      <div class="contact-name-container">
        <span><strong>Name </strong></span>
        <h2 *ngIf="!isEditMode">{{ contact.name }}</h2>
        <div class="form-group" *ngIf="isEditMode">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="contact-description-container">
        <span>Description: </span>
        <span *ngIf="!isEditMode">{{ contact.description }}</span>
        <div class="form-group" *ngIf="isEditMode">
          <input
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="Description"
          />
        </div>
      </div>
      <div class="contact-number-container">
        <span>Number: </span>
        <span *ngIf="!isEditMode">{{ contact.phoneNumber }}</span>
        <div class="form-group" *ngIf="isEditMode">
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </div>
      </div>
      <div class="buttons-container-default" *ngIf="!isEditMode">
        <button
          class="btn btn-primary btn-lg btn-edit"
          type="button"
          (click)="editContact()"
        >
          Edit
        </button>
        <button
          class="btn btn-danger btn-lg btn-delete"
          type="submit"
          (click)="deleteContact(this.contact.id); redirectToContacts()"
        >
          Delete
        </button>
      </div>
      <div class="buttons-container-edit" *ngIf="isEditMode">
        <button class="btn btn-primary btn-lg btn-edit" type="submit">
          Save
        </button>
        <button
          class="btn btn-secondary btn-lg"
          type="button"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
