<div class="card">
    <div class="main-container col-md-8 col-md-offset-2">
        <div class="contact-name-container">
            <h2><strong>{{ contact.name }}</strong></h2>
        </div>
        <div class="contact-description-container">
            <span>{{contact.description}}</span>
        </div>
        <div class="contact-number-container">
            <span>{{contact.phoneNumber}}</span>
        </div>
        <div class="buttons-container">
            <button class="btn btn-default" type="submit">Edit</button>
            <button class="btn btn-default" type="submit">Delete</button>
        </div>
        
    </div>
</div>