header {
  width: 100%;
  height: 6.8vh;
  background-color: #111;
  border-bottom: solid 3px #000;
}

.logo-app {
  text-align: start;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 15px;
  color: #fff;
}

.logo-app span {
  cursor: pointer;
}

.btn{
  margin-left: 10px;
  margin-bottom: 5px;
}

.main-container {
  background-color: #222;
  border-left: solid 3px #000;
  border-bottom: solid 3px #000;
  border-right: solid 3px #000;
}
.contact-name-container {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.contact-name-container span {
  font-size: 2.5rem;
}
.contact-description-container {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}
.contact-number-container {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.buttons-container-default{
  display: flex;
  justify-content: space-between;
}

.buttons-container-default button{
  font-size: 2rem;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 2rem;
}

.buttons-container-edit {
  font-size: 2rem;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 2rem;
}